html {
  height: 100%; }

body {
  height: 100%; }

main {
  margin-top: 5%;
  margin-bottom: 1em; }

#game-body {
  position: relative;
  width: 460px;
  height: 460px;
  background-color: #141414;
  border-radius: 230px;
  margin-bottom: 2em;
  /*box-shadow: 4px 0 5px gray, 0 4px 5px gray;*/
  /*padding: 20px;*/ }

#green-block {
  background-color: green;
  width: 230px;
  height: 230px;
  /*margin-right: 10px;
  margin-bottom: 10px;*/
  border-radius: 230px 0 0 0;
  border-style: solid;
  border-color: #141414;
  border-width: 20px 10px 10px 20px;
  /*border: solid 20px rgba(20, 20, 20, 1);*/ }

#red-block {
  background-color: #850000;
  width: 230px;
  height: 230px;
  /*margin-left: 10px;
  margin-bottom: 10px;*/
  border-radius: 0 230px 0 0;
  border-style: solid;
  border-color: #141414;
  border-width: 20px 20px 10px 10px;
  /*border: solid 20px rgba(20, 20, 20, 1);*/ }

#yellow-block {
  background-color: #857300;
  width: 230px;
  height: 230px;
  /*margin-right: 10px;
  margin-top: 10px;*/
  border-radius: 0 0 0 230px;
  border-style: solid;
  border-color: #141414;
  border-width: 10px 10px 20px 20px;
  /*border: solid 20px rgba(20, 20, 20, 1);*/ }

#blue-block {
  background-color: #004585;
  width: 230px;
  height: 230px;
  /*margin-left: 10px;
  margin-top: 10px;*/
  border-radius: 0 0 230px 0;
  border-style: solid;
  border-color: #141414;
  border-width: 10px 20px 20px 10px;
  /*border: solid 20px rgba(20, 20, 20, 1);*/ }

#inner-circle-content {
  position: absolute;
  left: 105px;
  top: 105px;
  background-color: #FFEED5;
  border: solid 10px #141414;
  /*background-color: #e1e8f0;*/
  width: 250px;
  height: 250px;
  border-radius: 125px;
  /*font-size: 12px;*/ }

#main-title {
  font-size: 60px;
  font-family: 'Wendy One', sans-serif;
  margin-bottom: -10px;
  margin-top: 40px; }

#title-sup {
  font-size: 24px; }

#control-panel-container {
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  box-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  -o-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center; }

#control-panel-container div {
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: column;
  -moz-flex-flow: column;
  flex-flow: column;
  -webkit-box-pack: end;
  -moz-box-pack: end;
  box-pack: end;
  -webkit-justify-content: flex-end;
  -moz-justify-content: flex-end;
  -ms-justify-content: flex-end;
  -o-justify-content: flex-end;
  justify-content: flex-end;
  -ms-flex-pack: end;
  margin: 5px; }

#display-content {
  font-size: 18px;
  color: red;
  font-family: 'Orbitron', sans-serif;
  padding: 3px 14px;
  background-color: #570000;
  border: solid 4px #141414;
  border-radius: 10px; }

/*  *************** Below is the buttons content *************** */
.click-button {
  width: 30px;
  height: 30px;
  border: solid 4px #141414;
  border-radius: 15px; }

#start-button {
  background-color: red;
  -webkit-align-self: center;
  -moz-align-self: center;
  align-self: center;
  -ms-flex-item-align: center; }

#strict-light {
  width: 8px;
  height: 8px;
  background-color: red;
  border: solid 1px #141414;
  border-radius: 4px;
  -webkit-align-self: center;
  -moz-align-self: center;
  align-self: center;
  -ms-flex-item-align: center; }

#strict-button {
  background-color: yellow;
  -webkit-align-self: center;
  -moz-align-self: center;
  align-self: center;
  -ms-flex-item-align: center; }

#switch-container {
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  box-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  -o-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center; }

#switch-box {
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  /*justify-content: space-around;*/
  width: 40px;
  height: 20px;
  background-color: #141414;
  border-radius: 3px;
  padding: 2px;
  margin: 0 5px; }

#off {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  box-flex: 1;
  -webkit-flex: 1;
  -moz-flex: 1;
  -ms-flex: 1;
  flex: 1;
  background-color: red;
  border-radius: 3px;
  margin-right: 2px; }

#on {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  box-flex: 1;
  -webkit-flex: 1;
  -moz-flex: 1;
  -ms-flex: 1;
  flex: 1;
  background-color: red;
  border-radius: 3px; }

/*# sourceMappingURL=styles.css.map */
