html {
  height: 100%;
}

body {
  height: 100%;
}

main {
  margin-top: 5%;
  margin-bottom: 1em;
}

#game-body {
  position: relative;
  width: $main-body-width;
  height: $main-body-height;
  background-color: $primary-dark-background;
  border-radius: $main-body-border-radius;
  margin-bottom: 2em;
  /*box-shadow: 4px 0 5px gray, 0 4px 5px gray;*/
  /*padding: 20px;*/
}

#green-block {
  background-color: $primary-dark-green;
  width: $block-width;
  height: $block-height;

  /*margin-right: 10px;
  margin-bottom: 10px;*/

  border-radius: $block-body-border-radius 0 0 0;
  border-style: solid;
  border-color: $primary-dark-background;
  border-width: $singe-edge-margin $common-edge-margin $common-edge-margin $singe-edge-margin;
  /*border: solid 20px rgba(20, 20, 20, 1);*/
}

#red-block {
  background-color: $primary-dark-red;

  width: $block-width;
  height: $block-height;

  /*margin-left: 10px;
  margin-bottom: 10px;*/

  border-radius: 0 $block-body-border-radius 0 0;
  border-style: solid;
  border-color: $primary-dark-background;
  border-width: $singe-edge-margin $singe-edge-margin $common-edge-margin $common-edge-margin;

  /*border: solid 20px rgba(20, 20, 20, 1);*/
}

#yellow-block {
  background-color: $primary-dark-yellow;

  width: $block-width;
  height: $block-height;

  /*margin-right: 10px;
  margin-top: 10px;*/

  border-radius: 0 0 0 $block-body-border-radius;
  border-style: solid;
  border-color: $primary-dark-background;
  border-width: $common-edge-margin $common-edge-margin $singe-edge-margin $singe-edge-margin;

  /*border: solid 20px rgba(20, 20, 20, 1);*/
}

#blue-block {
  background-color: $primary-dark-blue;

  width: $block-width;
  height: $block-height;

  /*margin-left: 10px;
  margin-top: 10px;*/

  border-radius: 0 0 $block-body-border-radius 0;
  border-style: solid;
  border-color: $primary-dark-background;
  border-width: $common-edge-margin $singe-edge-margin $singe-edge-margin $common-edge-margin;

  /*border: solid 20px rgba(20, 20, 20, 1);*/
}

#inner-circle-content {
  position: absolute;
  left: $inner-shift-x;
  top: $inner-shift-y;

  background-color: $primary-light;
  border: solid $common-edge-margin $primary-dark-background;

  /*background-color: #e1e8f0;*/

  width: $inner-circle-length;
  height: $inner-circle-length;

  border-radius: $inner-circle-radius;

  /*font-size: 12px;*/

}

#main-title {
  font-size: 60px;
  font-family: 'Wendy One', sans-serif;

  margin-bottom: -10px;
  margin-top: 40px;
}

#title-sup {
  font-size: 24px;
}

#control-panel-container {
  display: flex;
  justify-content: center;
}

#control-panel-container div {
  display: flex;
  /*width: 50px;*/
  flex-flow: column;
  justify-content: flex-end;
  margin: 5px;
}

#display-content {

  font-size: 18px;

  color: $secondary-red;

  font-family: 'Orbitron', sans-serif;

  padding: 3px 14px;
  background-color: $secondary-dark-red;
  border: solid 4px $primary-dark-background;
  border-radius: 10px;

  /*margin-bottom: 0;*/
}
