/*  *************** Below is the buttons content *************** */
.click-button {
  width: 30px;
  height: 30px;
  border: solid 4px $primary-dark-background;
  border-radius: 15px;
}

#start-button {
  background-color: $secondary-red;
  @include align-self(center);
}

#strict-light {
  width: 8px;
  height: 8px;
  background-color: $primary-dark-red;
  border: solid 1px $primary-dark-background;
  border-radius: 4px;
  @include align-self(center);
}

#strict-box .strict-mode-on {
  background-color: $secondary-red;
}

#strict-button {
  background-color: $secondary-yellow;
  @include align-self(center);
}

.click-button:active {
  @include transform(translate(1px,2px));
}

#switch-container {
  @include display(flex);
  @include justify-content(center);
}

#switch-box {
  @include display(flex);
  width: 40px;
  height: 20px;
  background-color: $primary-dark-background;
  border-radius: 3px;
  padding: 2px;
  margin: 0 5px;
}

#off {
  width: 50%;
  height: 100%;
  background-color: $secondary-red;
  border-radius: 3px;
  margin-right: 2px;
  cursor: pointer;
  @include transition(all .5s);
}

#switch-box .powerOn {
  width: 50%;
  height: 100%;
  background-color: $secondary-red;
  border-radius: 3px;
  margin-right: 2px;
  @include transform(translateX(18px));
}

#dropdownMenu1 {
  position: absolute;
  left: 0;
  top: 0;
}
